@using NhaTro.Models
@model List<BaiDang>
<div class="column3">
    <div class="small_title">Tin mới nhất</div>
    @foreach(var item in Model){
    <div class="offer_box">
        <a href="#"><img src="@Url.Content("~/AnhBaiDang/" + item.AnhBia)" width="130" height="98" class="img_left" alt="" border="0" /></a>
        <div class="offer_info">
            <span>@item.TieuDe</span><br/>
            <span>@item.Gia</span>
            <p>Địa Chỉ: @item.DiaChi</p>
            <p>Số điện thoại: @item.SDT</p>
            <p class="offer"></p>
            <div class="more"><a href="@Url.Action("XemCT","Nhathue", new { @matin=item.MaTin })">...more</a></div>
        </div>
    </div>
    }
</div>