@using NhaTro.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<BaiDangDAO>


        @{
            Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
            ViewBag.Title = "Index";
        }

        <div class="column4">
            <div class="title">Nhà cho thuê</div>
            @foreach (var item in Model)
            {
                <div class="offer_box_wide">
                    <a href="#"><img src="@Url.Content("~/AnhBaiDang/"+item.AnhBia)" width="130" height="98" class="img_left" alt="" border="0" /></a>
                    <div class="offer_info">
                        <span>@item.TieuDe</span><br />
                        <span class="gia">Giá phòng: @item.Gia</span>
                        <p>Địa Chỉ: @item.DiaChi, @item.TenQH, @item.TenTTP</p>                     
                        <p>Số điện thoại: @item.SDT</p>
                        <p class="offer"></p>
                        <div class="more"><a href="@Url.Action("XemCT","Nhathue", new { @matin=item.MaTin })">...Xem thêm</a></div>
                    </div>
                </div>
            }
            <div class="trang">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            </div>
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
            @*<div class="offer_box_wide">
                <a href="#"><img src="~/images/p2.jpg" width="130" height="98" class="img_left" alt="" border="0" /></a>
                <div class="offer_info">
                    <span>For Sale 220 000 $</span>
                    <p class="offer"> &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&quot; </p>
                    <div class="more"><a href="#">...more</a></div>
                </div>
            </div>
            <div class="offer_box_wide">
                <a href="#"><img src="~/images/p1.jpg" width="130" height="98" class="img_left" alt="" border="0" /></a>
                <div class="offer_info">
                    <span>For Sale 150 000 $</span>
                    <p class="offer"> &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&quot; </p>
                    <div class="more"><a href="#">...more</a></div>
                </div>
            </div>
            <div class="offer_box_wide">
                <a href="#"><img src="~/images/p2.jpg" width="130" height="98" class="img_left" alt="" border="0" /></a>
                <div class="offer_info">
                    <span>For Sale 220 000 $</span>
                    <p class="offer"> &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&quot; </p>
                    <div class="more"><a href="#">...more</a></div>
                </div>
            </div>*@
            @*<div class="pagination"> <span class="disabled"><<</span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a>…<a href="#">10</a><a href="#">11</a><a href="#">>></a> </div>*@

        </div>
            
            <style>
                .pagination li{
                    display:inline;
                }
                
            </style>
